.diaryList {
  text-align: center;
  flex-basis: 40%;
  background-color: #f8b332;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.itemContainer {
  overflow-y: auto;
}

.header {
  display: flex;
  align-items: center;
  background-color: #161d54;
  color: white;
  height: 140px;
  font-size: 32px;
  justify-content: space-around;
}

.header button {
  font-size: 48px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
}

.dateWrapper {
  flex-basis: 60%;
}

.create {
  flex-basis: 40%;
  height: 100%;
  color: white;
  background-color: #31397c;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filterWrapper {
  display: flex;
  background-color: #31397c;
  height: 50px;
  /* padding: 10px 0; */
  align-items: center;
}

.filterWrapper select {
  height: 100%;
  flex-basis: 30%;
  border-color: #161d54;
  outline: none;
  border-top: none;
  border-bottom: none;
  border: none;
}
