@import url('https://fonts.googleapis.com/css2?family=Joan&family=Noto+Sans&family=Nuosu+SIL&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nuosu SIL', serif;
}

@media (min-width: 1000px) {
  .App {
    width: 80vw;
  }
}

@media (max-width: 1000px) {
  .App {
    width: 80vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);

  height: 100vh;
}
